<div class="container">
    <div class="img">
        <img src="../../assets/images/login.svg" alt="login svg">
    </div>
    <div class="login-container">
            <div class="login-content">
            <h2 class="welcome">Welcome To</h2>
            <h2 class="title">Graduate Management System</h2>
            <div *ngIf="!user">
               
                <button  class="btn1"  (click)="signInWithGoogle()">SignIn</button>
            </div>
            
        
            
    </div>
     </div>
</div>
