.btn1{
    border: 3px solid teal;
    background: none;
    padding: 10px 30px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    
}
.btn1:hover{
    background-color: teal;
    color: white;
}