<!-- <div class="search-div">



<div  class="search-form-field">
    <button class="btn btn-primary" (click)="onOpenModal(null,'add')" data-bs-toggle="modal" data-bs-target="#exampleModal" mat-raised-button>
        <mat-icon >add</mat-icon>Create
    </button>
    <div>
    <input   matInput type="text" [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
    <mat-icon>close</mat-icon>
</button>  
</div>
</div>
</div>


<div  id="main-cont"class="mat-elevation-z8 tableMargin">
<mat-table [dataSource]="grads"  matSort>
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      
    </ng-container>
      
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button  mat-icon-button (click)="onOpenModal(element,'edit')"><mat-icon>launch</mat-icon></button> 
            <button  mat-icon-button (click)="onOpenModal(element,'delete')"color="warn"><mat-icon>delete_outline</mat-icon></button> 
        
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
            Loading data... 
        </mat-footer-cell>>
        </ng-container>
        <ng-container matColumnDef="nodata">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No Data
            </mat-footer-cell>>
            </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" 
     [ngClass]="{'hide':grads!=null}"></mat-footer-row>
     <mat-footer-row *matFooterRowDef="['nodata']" 
     [ngClass]="{'hide':!(grads!=null && grads.data.length==0)}"></mat-footer-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="hidden" formControlName="$key">
            <div class="form-floating mb-3">
                <input type="text" formControlName="$name"class="form-control" id="floatingInput" placeholder="John Doe">
                <label for="floatingInput">Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email"formControlName="$email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="date" formControlName="$ten_join_date"class="form-control" id="floatingInput" value="2022-01-01">
                <label for="floatingInput">Tentative joining date</label>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ediy
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Delete
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
  <mat-form-field>
    <mat-label></mat-label>
    <input placeholder="Just a placeholder">
  </mat-form-field>